/* Media
 ========================================================================= */
@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel
		&-slider
			width: 590px
	.card
		width: 230px
	.packages
		&-card
			grid-template: 250px 250px / 300px
			&--active
				grid-template: 500px / 300px 330px
		&-info
			padding: 30px 20px
/* hover
 ========================================================================= */
@media (min-width: 993px)
	.button
		transition: .2s
		&:hover
			background-image: linear-gradient(to right, $primary 0%, #ffcf33 51%, $primary 100%)
			background-size: 200% auto
			background-position: right center
	a
		transition: color 0.15s ease
		&:hover
			color: $primary
/*======================================================================== */
@media (max-width: 992px)
	.container,
	.newsletter-wrapper
		max-width: 700px
	.navbar
		&-top
			padding: 30px 0
		&__menu
			padding: 19px 14px 23px 15px
			&-link
				font-weight: bold
				font-size: 12px
				line-height: 15px
		&__user
			margin-left: 25px
		&__search
			margin-left: auto
	.search
		&__input
			max-width: 340px
	.logo
		width: 132px
	.hotel
		padding-bottom: 60px
		&-grid
			flex-direction: column
		&-slider
			width: 100%
			margin-bottom: 30px
		&-right
			flex-direction: row
	.booking
		width: 340px
	.container-fluid
		width: 340px
	.booking
		padding: 29px 22px 26px 23px
		margin-bottom: 20px
	.newsletter
		padding: 72px 0 73px 0
	.reviews
		padding-bottom: 60px
		&__title
			margin-bottom: 51px
			font-size: 30px
			line-height: 38px
		&-slider
			&__item
				max-width: 579px
				padding: 0 60px 30px 64px
			&__text
				max-height: 133px
			&__button
				top: 156px
				&--prev
					left: 0
				&--next
					right: 0
		&-letter
			display: none
	.activities
		padding-top: 60px
		padding-bottom: 70px
		&-wrapper
			flex-wrap: wrap
	.card
		width: 339px
		margin-bottom: 20px
		&:nth-last-child(-n+2)
			margin-bottom: 0
	.packages
		padding: 40px 0 50px
		&__title
			margin-bottom: 56px
		&-wrapper
			grid-template: repeat(3, 1fr ) / repeat(2, 1fr)
			grid-template-areas: "card-1 card-1" "card-2 card-3" "card-4 card-5"
			gap: 20px
		&-card
			grid-template: 250px 250px / 340px
			&--active
				grid-template: 500px / 340px 360px
		&-info
			padding: 30px 20px
	.footer
		padding: 73px 0 33px 0
		&-wrapper
			grid-template-columns: 172px 287px 53px minmax(min-content, 1fr)
			grid-row-gap: 45px
			grid-column-gap: 4px
		&__logo
			grid-row: 1 / 2
			width: 96px
			margin-top: 0px
			margin-bottom: 1px
		&__social
			&-network
				grid-row: 1 / 2
				grid-column: 2 / 4
				align-self: center
				margin-top: 8px
				margin-left: 11px
		&__categories
			grid-row: 2 / 3
			grid-column: 1 / 2
			margin-left: 1px
		&__additional
			grid-row: 2 / 3
			grid-column: 2 / 3
			margin-left: 25px
		&__legal
			grid-row: 2 / 3
			grid-column: 3/5
			justify-self: end
			margin-right: 3px
		&__contact
			&-details
				padding-top: 15px
				grid-column: span 4
				grid-row: 3 / 4
		&__item
			&--gps
				margin-bottom: 13px
			&--mail
				margin-bottom: 0
		&__ul
			&-contact
				padding-left: 6px
		&__icon
			&-wrapper
				padding-top: 5px
		&__appeal
			grid-row: 4
			grid-column: span 4
			width: 78%
			margin-top: 10px
			padding-left: 0
			margin-bottom: 0
		&__input
			&-wrapper
				flex-basis: 47%
		&__bottom
			grid-column: span 6
			height: 100%
			&-list
				margin-left: 2px
				grid-column: span 4
				align-self: center
				margin-top: 9px
			&-payment
				grid-column: span 2
		&__title
			&--form
				margin-bottom: 34px
@media (max-width: 767px)
	body
		padding-top: 78px
	.container
		max-width: 576px
		width: 92%
	.navbar
		&--mobile
			&--fixed
				position: fixed
				left: 0
				top: 0
				right: 0
				z-index: 99
		&__user, &__search
			&--mobile
				&--hidden
					display: none
				&--visible
					display: flex
		&__user
			margin-left: 0
			&--mobile
				&--visible
					flex-direction: column
					justify-content: center
		&-bottom
			display: none
			position: fixed
			top: 78px
			left: 0
			right: 0
			bottom: 0
			&--visible
				display: block
				overflow-y: auto

		&__menu
			padding-top: 31px
			flex-direction: column
			&-item
				margin-bottom: 17px
				&--mobile
					&--visible
						display: block
				&--user
					margin-bottom: 27px
				&--search
					margin-bottom: 36px
					width: 340px
	.user
		&__avatar
			margin-bottom: 10px
		&__name
			margin-left: 0
			color: $light
	.menu
		&-button
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			width: 16px
			height: 11px
			padding: 0
			border: none
			background-color: #fff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.hotel
		padding-bottom: 40px
		&-wrapper
			justify-content: space-between
		&-name
			flex-basis: 100%
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-right: 0
				&--thanks
					margin-top: 0
			&__rating
				display: none
			&__offer
				order: -1
				margin-right: 260px
				margin-left: 2px
		&-right
			flex-direction: column
		&-slider
			height: 350px
		&__stars
			flex-basis: auto
	.booking
		width: 100% !important
	.container-fluid
		width: 100% !important
		height: 173px
	.newsletter
		padding: 76px 0 83px
		height: 320px
		&-wrapper
			flex-direction: column
			align-items: flex-start
			max-width: 576px
			width: 92%
		&__input
			&-wrapper
				padding-top: 0
		&__title
			margin-bottom: 37px
	.card
		flex-basis: 48%
	.packages
		&__title
			margin-bottom: 40px
			font-size: 30px
			line-height: 38px
		&-card
			grid-template: 250px 250px / 278px
			&--active
				grid-template: 500px / 278px 298px
		&-info
			padding: 30px 20px
		&__text
			&--active
				margin-bottom: 35px
	.footer
		&-wrapper
			grid-template-columns: repeat(6, minmax(min-content, 1fr))
			grid-column-gap: 20px
		&__logo, &__categories, &__additional, &__legal
			grid-column: span 2
		&__social-network
			grid-column: span 4
		&__contact
			&-details
				grid-column: span 6
		&__appeal
			grid-column: span 6
			margin-top: 25px
		&__title
			&--form
				margin-bottom: 15px
		&__input
			&-wrapper
				flex-basis: 100%
		&__bottom
			&-list
				width: 276px
				margin-left: 0px
				margin-top: 0px
			&-payment
				justify-self: start
@media (max-width: 620px)
	.packages
		padding-bottom: 40px
		&__title
			font-size: 18px
			line-height: 23px
			margin-bottom: 30px
		&-wrapper
			gap: 15px
		&-card
			grid-template: 250px 250px / minmax(240px, 278px)
			&--active
				grid-template: 500px / minmax(240px, 278px) minmax(255px, 293px)
		&__image
			&--active
				width: 100%
			&--active
				max-width: 100%
		&__name
			margin-bottom: 20px
			font-size: 16px
			line-height: 20px
		&__text
			margin-bottom: 25px
			font-size: 12px
			line-height: 1.6
		&-price
			margin-bottom: 14px
			&__old
				font-size: 12px
				line-height: 1.6
			&__sell
				font-size: 20px
				line-height: 1.6
		&__button
			font-size: 12px
			line-height: 16px
@media (max-width: 576px)
	body
		padding-top: 71px
	.container
		width: 88%
	.navbar
		&-top
			padding: 27px 0 33px
			align-items: center
		&-bottom
			top: 71px
	.logo
		width: 99px
		display: flex
		align-items: start
	.breadcrumb
		padding: 18px 0 14px
	.hotel
		&-info
			margin-bottom: 38px
			&--thanks
				margin-bottom: 0
			&__name
				margin-top: 9px
				&--thanks
					margin-top: 0
					font-weight: bold
					font-size: 16px
					line-height: 20px
		&-slider
			height: 250px
			margin-bottom: 19px
		&__stars
			margin-right: 17px
	.booking__number
		margin-right: 4px
	.newsletter
		padding: 76px 0 83px 0
		&-wrapper
			width: 88%
		&-title
			margin-top: 0
			font-size: 20px
			line-height: 25px
			&__strong
				margin-top: 5px
				font-size: 30px
				line-height: 38px
	.subscribe
		&__input
			padding-left: 20px
	.reviews
		padding-bottom: 50px
		&__title
			margin-bottom: 42px
			font-size: 18px
			line-height: 23px
		&-slider
			&__item
				padding: 0 31px 36px 31px
				&:before
					left: 31px
				&:after
					right: 32px
			&__button
				top: 30px
			&__text
				max-height: 266px
				text-align: start
	.activities
		padding: 40px 0 60px
		&__title
			margin-bottom: 36px
			font-weight: bold
			font-size: 18px
			line-height: 23px
	.card
		flex-basis: 100%
		&-two
			order: 2
		&-three
			order: 1
		&-four
			order: 3
		&:nth-last-child(2)
			margin-bottom: 28px
	.packages
		&-wrapper
			grid-template: auto / 1fr
			grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5"
			gap: 20px
		&-card
			grid-template: 250px 250px / 1fr
			&--active
				grid-template: 350px auto / 1fr
		&__image
			&--active
				height: 350px
		&-info
			&--active
				height: auto
				max-height: 700px
		&__text
	.footer
		padding: 68px 0 21px 0
		&-wrapper
			grid-template-columns: 1fr
			row-gap: 30px
		&__logo
			width: 96px
			height: 108px
			grid-column: 1
			grid-row: 1
		&__social
			&-network
				grid-column: 1
				grid-row: 2
				flex-direction: column
				align-items: start
				margin-left: 0
				margin-top: 12px
			&-links
				margin-left: 3px
				margin-top: 2px
		&__title
			&--social
				margin-bottom: 20px
		&__categories
			grid-column: 1
			grid-row: 5
		&__additional
			margin-left: 0
			grid-column: 1
			grid-row: 4
		&__legal
			grid-column: 1
			grid-row: 3
			justify-self: start
			margin-top: 3px
		&__contact
			&-details
				grid-column: 1
				grid-row: 6
				padding-top: 10px
		&__ul
			&-contact
				padding-left: 0
		&__text
			margin-bottom: 20px
		&__item
			&--gps
				margin-bottom: 22px
		&__icon
			&-wrapper
				min-width: 30px
		&__appeal
			width: 100%
			grid-column: 1
			grid-row: 7
			justify-self: start
		&__info
			margin-bottom: 15px
			align-self: start
		&__input
			&-wrapper
				flex-basis: 100%
		&__message
			margin-bottom: 15px
		&__form
			&-bottom
				display: flex
				flex-direction: column-reverse
				width: 160px
		&__bottom
			grid-column: 1
			grid-row: 8
			grid-template-columns: 1fr
			row-gap: 10px
			&-list
				grid-column: 1
				grid-row: 1
			&-payment
				grid-column: 1
				grid-row: 2
	.modal
		&__dialog
			max-width: 90%
			padding: 30px 40px
		&__form
			&-bottom
				flex-direction: column-reverse
				align-items: start
		&__button
			margin-bottom: 0
			margin-top: 15px
		&__button
			width: 100%
@media (max-width: 460px)
	.navbar
		&__menu
			&-item
				&--search
					width: 245px
	.hotel
		padding-top: 5px
		&-info
			&__offer
				order: -1
				margin-right: 140px
		&-description
			max-width: 280px
		&-slider
			height: 180px
	.newsletter
		&__input
			&-wrapper
				width: 100%
	.reviews
		&__title
			max-width: 245px
			margin-bottom: 42px
			font-size: 18px
			line-height: 23px
		&-slider
			&__item
				&:before
					left: 20px
				&:after
					right: 20px
			&__button
				&--prev
					left: 34px
				&--next
					right: 38px
	.modal
		&__dialog
			padding: 30px 20px
			top: 50%
	.wrap
		display: initial
// @import '_media-navbar'
// @import '_media-modal'
