/* Media
 ========================================================================= */
@media (max-width: 1200px)
	.container
		max-width: 960px
	.slider
		width: 590px

@media (max-width: 992px)
	.container
		max-width: 700px
	.navbar
		&-top
			padding: 30px 0
		&-menu
			padding: 22px 0
		&__search
			margin-left: auto
		&-menu
			&__link
				font-size: 12px
				line-height: 15px
	.search
		&__input
			max-width: 340px
	.logo
		width: 132px
	.hotel
		padding-bottom: 60px
		&-grid
			flex-direction: column
		.slider
			width: 100%
			margin-bottom: 30px
		.hotel
			&-right
				flex-direction: row
		.booking
			width: 340px
		.map
			width: 340px
@media (max-width: 768px)
	.container
		max-width: 576px
		width: 92%
	.navbar
		&-menu, &__search, &-user
			display: none
	.menu
		&-button
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			width: 16px
			height: 11px
			padding: 0
			border: none
			background-color: #fff
			cursor: pointer
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.hotel
		padding-bottom: 40px
		&-name
			flex-basis: 100%
		&-info
			&__text
				width: 100%
			&__name
				margin-top: 10px
				margin-right: 0
			&__rating
				display: none
			&__offer
				order: -1
				margin-right: 260px
	.stars
		flex-basis: auto
	.slider
		height: 350px
	.hotel
		&-right
			flex-direction: column !important
			min-height: 450px
	.booking
		width: 100% !important
	.map
		width: 100% !important

@media (max-width: 576px)
	.navbar
		&-top
			padding: 28px 0
	.logo
		width: 99px
	.slider
		height: 250px
		margin-bottom: 20px !important
	.hotel-right
		min-height: 440px
@media (max-width: 460px)
	.hotel
		padding-top: 5px
		&-info
			&__offer
				order: -1
				margin-right: 140px
		&-description
			max-width: 280px
	.slider
		height: 180px
