.hotel
	padding-top: 23px
	padding-bottom: 70px
	&-grid
		display: flex
		justify-content: space-between
	&-right
		display: flex
		flex-direction: column
		justify-content: space-between
	&-name
		margin: 0
		font-weight: bold
		font-size: 24px
		line-height: 30px
		color: $text-color
		text-transform: uppercase
	&-info
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
		&--thanks
			flex-direction: column
			align-items: start
			margin-bottom: 0
		&__offer
			margin-top: 4px
		&__name
			margin-top: 4px
			margin-right: 14px
			&--thanks
				margin-top: 0
				margin-right: 0
		&__text
			&--thanks
				margin-bottom: 15px
	&-description
		margin: 0
		font-size: 12px
		line-height: 15px
		color: $text-color
	&-wrapper
		display: flex
		flex-wrap: wrap
		align-items: center
	&-slider
		max-width: 728px
		height: 450px
		margin-left: 2px
		border-radius: 8px
		overflow: hidden
		justify-self: start
		&__image
			width: 100%
			height: 100%
			object-fit: cover
		&__item
			width: 100%
			height: 100%
			position: relative
			&::after
				content: ''
				width: 100%
				height: 100%
				position: absolute
				top: 0
				bottom: 0
				left: 0
				right: 0
				z-index: 10
				background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
		&__button
			height: 30px
			width: 30px
			position: absolute
			z-index: 100
			top: 50%
			transform: translateY(-50%)
			background-color: transparent
			background-repeat: no-repeat
			background-position: center
			background-size: 10px
			border: none
			cursor: pointer
			&--prev
				left: 18px
				background-image: url(../img/arrow-prev.svg)
			&--next
				right: 18px
				background-image: url(../img/arrow-next.svg)
	&__stars
		display: flex
		flex-basis: 100%
.star
	&:not(:last-child)
		margin-right: 2px
.offer
	padding: 4px 9px
	font-weight: 600
	font-size: 10px
	line-height: 13px
	color: $light
	border-radius: 3px
	background-color: $primary
.rating
	min-width: 65px
	min-height: 45px
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 10px 6px 6px 6px
	color: $light
	background: $primary
	border-radius: 4px
	&__text
		font-weight: 600
		font-size: 8px
		line-height: 10px
	&__counter
		font-weight: bold
		font-size: 14px
		line-height: 18px
		&-max
			font-size: 10px
.swiper
	&-slide
		-webkit-transform: translate3d(0, 0, 0)

.booking
	width: 350px
	height: 210px
	padding: 29px 29px 29px 26px
	font-family: 'Nunito', sans-serif
	color: $light
	background: $dark
	border-radius: 8px
	&__info
		display: flex
		justify-content: space-between
		margin-bottom: 10px
	&__price
		max-width: 86px
		display: flex
		flex-direction: column
	&__start
		font-size: 10px
		line-height: 14px
	&__pricetag
		font-weight: 800
		font-size: 24px
		line-height: 33px
	&__per-room
		margin-top: -5px
		font-size: 12px
		line-height: 16px
	&__room
		margin-top: 4px
	&__text
		min-width: 80px
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 8px
		font-size: 12px
		line-height: 16px
	&__call-center
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 17px
		font-weight: 600
		font-size: 18px
		line-height: 25px
	&__number
		display: flex
		text-decoration: none
		color: inherit
	&__num
		margin-left: 8px
	&__button
		width: 100%
		min-height: 45px
.map
	overflow: hidden
	border-radius: 10px
.container-fluid
	width: 350px
	height: 213px
	padding: 0
	background-image: url(../img/map.jpg)
	background-position: center center
	background-repeat: no-repeat
.button
	&-return
		padding: 9px 23px
	&:hover
		color: $light
